.navbar.affix {
	top:0px;
}

.affix + section {
    padding-top:70px
}

#section-nav {
	background-color: rgb(253,253,253);
	width: 100%;
	left:0;
}

#section-nav .nav-justified {
	max-width: 800px;
	margin: 0 auto;
}

section h3 {
	text-align: center;
}

section p {
	text-align: justify;
}