.navbar.affix {
	top:0px;
	border-style: solid;
	border-color: rgb(136, 86, 254);
	border-width: 0 6px;
}

.affix + section {
    margin-top:80px
}

#section-nav {
	background-color: rgba(253,253,253,0.9);
	width: 100%;
	left:0;
}

#section-nav .nav-justified {
	max-width: 800px;
	margin: 0 auto;
}

section h3 {
	text-align: center;
}

section p {
	text-align: justify;
}

#staff h3 {
	text-align: left;
}

#staff h4 {
	color: black;
}

#press {
	text-align: center;
}