.container .jumbotron {
	border-radius: 0px;
	height: 480px;
	margin-bottom: 15px;
}

.mini-feature {
	background-color: #eee;
	text-align: center;
}

.mini-feature h4 {
	padding: 140px 0;
	margin-top: 15px;
}

.sponsors {
	text-align: center;
}
