.container .jumbotron {
	border-radius: 0px;
	height: 480px;
	margin-bottom: 15px;
}

.mini-feature {
	background-color: #eee;
	text-align: center;
}

.mini-feature h3 {
	padding: 140px 0;
}

.event {
	margin-bottom: 40px;
}

.event p {
	font-family: 'Georgia', serif;
	font-style: italic;
	font-size: 0.9em;
	line-height: 0.9em;
	letter-spacing: 2px;
}

