body {
	padding: 25px 0;
	border:6px solid rgb(136, 86, 254);
	background-color: rgb(253,253,253);
}

.container {
	max-width: 1046px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: rgb(136, 86, 254);
}

h1 {
	font-size: 4.5em;
	font-weight: 700;
	letter-spacing: 10px;
	text-align: center;
	margin-top: 45px;
}

h2 {
	font-size: 2.7em;
	letter-spacing: 8px;
}

h3 {
	font-size: 2em;
	font-weight: 800;
	letter-spacing: 6px;
	line-height: 1;
}

h4 {
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: 5px;
}

h5 {
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 2em;
}

h6 {
	font-size: 0.65em;
	letter-spacing: 2px;
	color: #111;
}

p, blockquote p {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 2;
}

em, dd {
	font-family: 'Georgia', serif;
	font-style: italic;
	font-size: 0.9em;
	line-height: 1.5;
	letter-spacing: 2px;
}

dt {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 2.5;
	margin-top: 20px;
}

hr {
	height: 9px;
	background: url('/img/squiggle.png') no-repeat 50% 50%;
	border:0;
	padding: 40px 0;
}

h1 + hr {
	padding-top: 0;
	margin-bottom: 40px;
	margin-top: -15px;
}

section {
	padding: 40px 0;
}

article {
	text-align: justify;
	margin-bottom: 40px;
}

article h4 {
	text-align: left;
}

article h5 {
	color: black;
	text-transform: none;
}

article li {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 2.5;
	list-style: none;
}

article a {
	text-decoration: underline;
	color: black;
}

article a:hover, article a:hover h5 {
	color: rgb(136, 86, 254);
}

hr + h3 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 60px;
}

a:hover {
	text-decoration: none;
}

.btn-default, .btn-default:hover {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	color: rgb(136, 86, 254);
	border: 5px solid rgb(136, 86, 254);
	background-color: transparent;
	border-radius: 0;
	padding: 10px 15px;
}

.black {
	color: black;
}

.logo {
	text-align: left;
}

h2.logo, h4.logo {
	padding-left: 0;
}

div.logo {
	margin-left: -48px;
}

.col-xs-12>img {
	margin: 10px auto 15px auto;
}

.nav-pills {
	font-family: 'Georgia', serif;
	font-style: italic;
	font-size: 0.8em;
	letter-spacing: 2px;
}

.nav-pills>li>a {
	border-radius: 0;
	border:2px solid transparent;
	color: black;
	padding: 4px 9px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li>a:hover {
	color: rgb(136, 86, 254);	
	background-color: transparent;
}

.nav-pills>li.active>a {
	border:2px solid rgb(136, 86, 254);
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.navbar ul {
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	text-transform: uppercase;
	margin-right: 0;
}

.navbar ul>li>a {
	font-weight: 500;
	letter-spacing: 2px;
	color: rgb(97,97,97);
	padding: 15px 11px;
}

.navbar ul>li>a:hover {
	background-color: transparent;
	color: rgb(136, 86, 254);
}

.navbar ul>li.divider {
	font-weight: 700;
	color: rgb(136, 86, 254);
	padding: 15px 0;
}

.navbar ul>li.active>a {
	color: rgb(136, 86, 254);
}

.navbar-collapse {
	padding: 0;
}

.navbar-toggle {
	background-color: white;
	border-color: rgb(136, 86, 254);
	margin-top: -35px;
}

.navbar-toggle .icon-bar {
	background-color: rgb(136, 86, 254);
}

.header nav {
	margin-top: 48px;
}

.container .jumbotron {
	border-radius: 0px;
	height: 480px;
	margin-bottom: 15px;
}

.event {
	margin-bottom: 40px;
	display: block;
	color: black;
}

.event h5 {
	margin-bottom: 15px;
}

.event img.hover {
	display: none;
}

.event:hover img {
	display: none;
}

.event:hover img.hover {
	display: block;
}

.form-control {
	border:0;
	border-bottom: 3px solid #999;
	border-radius: 0;
	box-shadow: none;
	background: transparent;
	padding-left: 0;
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
	height: 50px;
	width: 93%;
}

.form-control:focus {
	box-shadow: none;
	border-color: #999;
}

.map {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 100%;
}

.copyright {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 0.9em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: rgb(149,149,149);
	margin-top: 50px;
}

