body {
	padding: 25px 0;
	border:6px solid rgb(136, 86, 254);
	background-color: rgb(253,253,253);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: rgb(136, 86, 254);
}

h1 {
	font-size: 4.5em;
	font-weight: 700;
	letter-spacing: 10px;
	text-align: center;
}

h2 {
	font-size: 2.7em;
	letter-spacing: 8px;
}

h3 {
	font-size: 2em;
	font-weight: 800;
	letter-spacing: 6px;
	line-height: 2em;
}

h4 {
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: 5px;
}

h5 {
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 2em;
}

h6 {
	font-size: 0.54em;
	letter-spacing: 2px;
	color: #a0a0a0;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 1.8em;
}

em {
	font-family: 'Georgia', serif;
	font-style: italic;
	font-size: 0.9em;
	line-height: 0.9em;
	letter-spacing: 2px;
}

hr {
	height: 9px;
	background: url('/img/squiggle.png') no-repeat 50% 50%;
	border:0;
	padding: 40px 0;
}

a:hover {
	text-decoration: none;
}

.logo {
	text-align: center;
}

h2.logo, h4.logo {
	padding-left: 0;
}

div.logo {
	padding: 0;
}

.nav-pills {
	font-family: 'Georgia', serif;
	font-style: italic;
	font-size: 0.8em;
	letter-spacing: 2px;
}

.nav-pills>li>a {
	border-radius: 0;
	border:2px solid transparent;
	color: black;
	padding: 4px 9px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li>a:hover {
	color: rgb(20,20,20);	
	background-color: transparent;
	border:2px solid rgb(136, 86, 254);
}

.nav-pills>li.active>a {
	color: rgb(136, 86, 254);
}

.navbar {
	border-radius: 0;
}

.navbar-nav {
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	text-transform: uppercase;
	margin-right: 0;
}

.navbar-nav>li>a {
	font-weight: 500;
	letter-spacing: 2px;
	color: rgb(97,97,97);
	padding: 15px 11px;
}

.navbar-nav>li>a:hover {
	background-color: transparent;
}

.navbar-nav>li.divider {
	font-weight: 700;
	color: rgb(136, 86, 254);
	padding: 15px 0;
}

.navbar-nav>li.active>a {
	color: rgb(136, 86, 254);
}

.navbar-collapse {
	padding: 0;
}

.navbar-toggle {
	background-color: white;
	border-color: rgb(136, 86, 254);
	margin-top: -35px;
}

.navbar-toggle .icon-bar {
	background-color: rgb(136, 86, 254);
}

.header nav {
	margin-top: 48px;
}

.event {
	margin-bottom: 40px;
}

.copyright {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 0.9em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: rgb(149,149,149);
	margin-top: 50px;
}
