---
title: About
style: "/css/about.css"
---
<!DOCTYPE html>
<html>

  {% include head.html %}

    <body data-spy="scroll" data-offset="150" data-target="#section-nav">
      <div class="container">

        {% include header.html %}

      <h1 id="overview">About</h1>

      <nav id="section-nav" class="navbar hidden-xs" data-spy="affix" data-offset-top="283" role="navigation">
        <ul class="nav nav-justified">
          <li class="active"><a href="#overview">Overview</a></li>
          <li><a href="#orchestra">Orchestra</a></li>
          <li><a href="#choir">Choir</a></li>
          <li><a href="#stevenfox">Steven Fox</a></li>
          <li><a href="#staff">Staff</a></li>
        </ul>
      </nav>

      <section class="row">
        <span><!-- just an extra tag to simplfy css, since this section has no <hr> at the top --></span>
        <div class="col-sm-6"><img src="{{ site.baseurl }}/img/about-01.jpg" class="img-responsive"></div>
        <div class="col-sm-6">
          <h3>Overview</h3>
          <p>
            The Clarion Society was founded in 1957 by pioneering musicologist and conductor Newell Jenkins. In the 1970s, it became one of the first New York ensembles to begin performing on period instruments. After a five-year hiatus, it was revived in 2006 by Steven Fox and has risen to prominence as a fresh and innovative force on the international period performance scene. Today the Clarion Society comprises the renowned Clarion Orchestra and the celebrated Clarion Choir.
          </p>
          <p>
            Clarion has been presented at Lincoln Center on the White Light and Tully Scope Festivals, and with Juilli<span style="font-style:italic;">a</span>rd415 at Alice Tully Hall. The group has also performed at Weill Recital Hall at Carnegie Hall, the Brooklyn Academy of Music, the Miller Theatre and St. Paul’s Chapel at Columbia University, the Morgan Library, Bargemusic, and the Aston Magna Festival.
          </p>
          <p>
            Clarion recently recorded Handel's Judas Maccabeus (1751 complete version), and this coming year makes its first international appearance under the direction of Steven Fox, at the Quebec City International Festival of Sacred Music.
          </p>
        </div>
      </section>

      <section id="orchestra" class="row">
        <hr>
        <div class="col-sm-6">
          <h3>Orchestra</h3>
          <p>
            One of the oldest and most highly regarded period instrument orchestras in the United States, The Clarion Orchestra brings authentic performances from the 18<sup>th</sup> and 19<sup>th</sup> centuries to modern audiences. Composers such a Bach, Mozart, Haydn, Handel, Tchaikovsky, and Brahms had a deep understanding and mastery of the instruments they composed for.  We feel that utilizing the same instruments and performance practices of the period is integral to the art of recreating their music. This attention to detail reveals the most intimate aspects of their genius.
          </p>
          <p>
            The Orchestra comprises many of the finest period instrument performers in the country who are renowned also as chamber music and solo performers. Many of The Clarion Orchestra's members serve on distinguished faculties, such as The Juilliard School, Mannes School of Music, Bard College, and SUNY Purchase, among others. The Orchestra has performed at Lincoln Center, Carnegie Hall, the Brooklyn Academy of Music, the Miller Theatre at Columbia University, The Morgan Library, and at Bargemusic, in repertoire that has ranged from the early Baroque to the early Romantic. The ensemble has received critical acclaim, being called ‘stellar’ and ‘polished’ by the New York Times, and ‘legendary’ by The New Yorker. In 2009, the Clarion Orchestra was featured in Brooklyn Academy of Music's critically acclaimed production of Bach's St. Matthew Passion, staged by Jonathan Miller. For the second year in a row, The Clarion Orchestra has been named an NEA ArtWorks recipient.
          </p>
        </div>
        <div class="col-sm-6"><img src="{{ site.baseurl }}/img/about-02.jpg" class="img-responsive"></div>
      </section>

      <section id="choir" class="row">
        <hr>
        <div class="col-sm-6"><img src="{{ site.baseurl }}/img/about-03.jpg" class="img-responsive"></div>
        <div class="col-sm-6">
          <h3>Choir</h3>
          <p>
            Established in 2006 to complement the Clarion Orchestra in vocal-orchestral works, The Clarion Choir has since expanded its repertoire far beyond the Baroque and Classical periods and has emerged as one of the country’s preeminent vocal ensembles, demonstrating extraordinary versatility as it performs music from the 16th century to today.
          </p>
          <p>
            With members equally at home on the solo stage and in ensemble singing, The Clarion Choir has received widespread critical acclaim, and was invited to partake on the Lincoln Center White Light Festival as part of the inaugural concert of the new organ of Alice Tully Hall. Later in the same year, the choir was invited to join the Juilliard ensemble Axiom for a performance of Morton Feldman's Rothko Chapel at the Tully Scope Festival, which was praised as a ‘pensive and mystical performance’ by The New York Times. The ensemble has performed at Weill Recital Hall at Carnegie Hall, the Brooklyn Academy of Music, Miller Theatre at Columbia University, The Morgan Library, the Quebec International Festival of Sacred Music, The Twelfth Night Festival, and at Bargemusic with The Knights chamber orchestra.
          </p>
        </div>
      </section>

      <section id="stevenfox" class="row">
        <hr>
        <div class="col-sm-6">
          <h3>Steven Fox</h3>
          <p>
            Conductor Steven Fox is Artistic Director of New York’s renowned Clarion Orchestra and Clarion Choir, and Founder of Musica Antiqua St. Petersburg, which he established as Russia’s first period-instrument orchestra at the age of 21. In the last two years he has been engaged as a guest conductor with the leading Baroque orchestras in the United States, including the Philharmonia Baroque Orchestra in San Francisco, Handel and Haydn Society in Boston, and Juilliard415 at Lincoln Center. From 2008 to 2013 he was an Associate Conductor at New York City Opera, and he has served as Assistant Conductor for the Metropolitan Opera Lindemann Young Artists Program and Juilliard Opera.
          </p>
          <br>
          <h4>Recent Press</h4>
          <ul>
            <li><a href="http://www.nytimes.com/2014/01/03/arts/music/clarion-choir-in-rachmaninoffs-vespers.html?smid=pl-share&_r=0">New York Times <br>Harmonic Complexity That Moved Its Maker</a></li>
            <li><a href="https://www.sfcv.org/reviews/philharmonia-baroque-orchestra/philharmonia-baroques-rollicking-russian-romp">San Francisco Classical Voice <br>Philharmonia Baroque's Rollicking Russian Romp</a></li>
          </ul>
          <br>
          <p>
            Recognized as a leader in his generation of conductors, Steven has been called 'an esteemed director' by The New Yorker, 'visionary' by BBC Music Magazine, and ‘a conductor to watch’ by Seen and Heard International.  Of a recent performance with The Clarion Choir, The New York Times praised his ‘deft guidance’ and wrote: ‘An inspired interpretation. Mr. Fox revealed the drama of the score with vivid dynamic shadings. Intonation and pacing were exemplary throughout the performance.’
          </p>
          <p>
            Steven is a graduate of Dartmouth College and the Royal Academy of Music, London, where he was named an Associate ‘for great achievement in his field’ in 2010. He has given master classes and clinics at Dartmouth College, The Juilliard School, and Yale University, also serving as a preparatory conductor for the Yale Schola Cantorum.
          </p>

        </div>
        <div class="col-sm-6"><img src="{{ site.baseurl }}/img/about-04.jpg" class="img-responsive"></div>
      </section>

      <section id="staff" class="row">
        <hr>
        <h3 class="col-md-12">Staff</h3>
        <div class="col-md-4">
          <h4>Admin</h4>
          <dl>
            <dt>Steven Fox</dt>
            <dd>Artistic Director</dd>
            <dt>Barbara Mouk</dt>
            <dd>Bookings and Public Relations</dd>
            <dt>Sylvia Baber</dt>
            <dd>Development Associate</dd>
          </dl>
        </div>

        <div class="col-md-8">
          <h4>Board of Directors</h4>
        </div>
        <div class="col-md-4">
          <dl>
            <dt>Christine Stonbely</dt>
            <dd>President, Clarion Board</dd>
            <dd>Stonbely Family Foundation</dd>
            <dt>Charles N. W. Schlangen</dt>
            <dd>Vice President, Clarion Board</dd>
            <dd>President - Charmar, LLC</dd>
            <dt>John Squire (1938-2014)</dt>
            <dd>Vice President, Clarion Board</dd>
            <dd>Private Investment Banker</dd>
            <dt>Gregory Stoskopf</dt>
            <dd>Secretary and Treasurer, Clarion Board</dd>
            <dd>Director - Deloitte Consulting, LLP</dd>
          </dl>
        </div>
        <div class="col-md-4">
          <dl>
            <dt>Brendan Caldon</dt>
            <dd>Board Member</dd>
            <dt>Nadine Dehgan</dt>
            <dd>President, NED.CO</dd>
            <dt>Dr. Elma Hawkins</dt>
            <dd>President and CEO - Viridian Pharmaceuticals</dd>
            <dt>Alfred Hubay</dt>
            <dd>House Manager - The Metropolitan Opera (ret.)</dd>
            <dd>Life Trustee - Glimmerglass Opera</dd>
            <dt>Inez Reksten</dt>
            <dd>Managing Director - Reksten Associates</dt>
            <dt>Jacob Waldman</dt>
            <dd>Associate - Quinn Emmanuel Urquhardt LLP</dd>
          </dl>
        </div>
        <div class="col-md-12">
          <h4>Board of Advisors</h4>
        </div>
        <div class="col-md-4">
          <dl>
            <dt>David Andryc</dt>
            <dd>Managing Director - Private Equity Group Auda Advisor Associates</dd>
            <dt>Catherine Corman</dt>
            <dd>Author/Photographer</dd>
            <dt>Cynthia Curran</dt>
            <dd>Director (retired) - General Counsel and Senior Negotiator UBS</dd>
            <dt>Mary Deissler</dt>
            <dd>Director - Campaign and Special Initiatives Los Angeles Philharmonic</dd>
          </dl>
        </div>
        <div class="col-md-4">
          <dl>
            <dt>Mariko Dozono</dt>
            <dd>Artist</dd>
            <dt>Peter Faber</dt>
            <dd>Partner - McDermott Will &amp; Emery</dd>
            <dt>Basil Hero</dt>
            <dd>Executive Vice President of New Business - Spectacular Ventures</dd>
            <dt>Antoinette Hoar</dt>
            <dd>Marketing Associate - Vanguard Construction &amp; Development Co., Inc.</dd>
          </dl>
        </div>
        <div class="col-md-4">
          <dl>
            <dt>Michael Leavitt</dt>
            <dd>Director - Empire Music Group and MPL Productions</dd>
            <dt>John Santoleri</dt>
            <dd>Partner - Stonewater Captial</dd>
            <dt>Kent Tritle</dt>
            <dd>Music Director - Oratorio Society of New York, Musica Sacra, and the Cathedral of St. John the Devine (NY)</dd>
            <dt>Ransom Wilson</dt>
            <dd>Professor of Flute - Yale University</dd>
          </dl>
        </div>
      </section>

      {% include footer.html %}
    </div>
  </body>
</html>
