---
layout: default
style: "/css/index.css"
---

<div class="row">
  <div class="col-xs-12 hidden-xs">
    <img src="{{ site.baseurl }}/img/lg_fox.jpg" class="img-responsive"><br>
  </div>
  <div class="col-sm-6">
    <a href="{{ site.baseurl }}{% post_url 2020-11-24-grammy-nominee %}">
      {% include image.html path="/img/md_grammy_nominee" filetype="png" alt="Learn more about Clarion's 2021 Grammy Nominations" %}
    </a>
  </div>
  <div class="col-sm-6">
    <a href="{{ site.baseurl }}/discography.html">
      {% include image.html path="/img/md_buy_recordings" filetype="jpg" alt="Buy Recordings" %}
    </a>
  </div>
</div>

<hr>

<div id="corona">
  <h4>YouTube Channel</h4>
  <p>
    As we are unable to give live concerts right now given the current restrictions regarding the pandemic, we invite you to visit our 
    <a href="https://www.youtube.com/channel/UCGTTamzCaJmx0FRQ7fx3DXw">YouTube Channel</a>, 
    which will be updated periodically with excerpts of our recent live performances.
  </p>
</div>

<hr>

{% include schedule.html season="2021" %}

<hr>

<div class="sponsors">
  <h5>Clarion deeply appreciates the funding that so generously supports our 2020-21 season</h5>
  <div class="col-xs-12">
    <picture>
      <source media="(max-width: 829px)" srcset="
        {{ site.baseurl }}/img/sponsors492w.png,
        {{ site.baseurl }}/img/sponsors492w@2x.png 2x,
        {{ site.baseurl }}/img/sponsors492w@3x.png 3x">
      <source media="(max-width: 1199px)" srcset="
        {{ site.baseurl }}/img/sponsors720w.png,
        {{ site.baseurl }}/img/sponsors720w@2x.png 2x,
        {{ site.baseurl }}/img/sponsors720w@3x.png 3x,">
      <source media="(min-width: 1200px)" srcset="
        {{ site.baseurl }}/img/sponsors1016w.png,
        {{ site.baseurl }}/img/sponsors1016w@2x.png 2x,
        {{ site.baseurl }}/img/sponsors1016w@3x.png 3x,">
      <img src="{{ site.baseurl }}/img/sponsors1016w.jpg" alt="Chris standing up holding his daughter Elva">
    </picture>
  </div>
</div>
