<div class="row">
  {% assign sorted_posts = site.posts | sort: 'date' %}
  {% for event in sorted_posts %}
    <div class="col-md-4 col-sm-6">
      <a href="{{ event.url | prepend: site.baseurl }}" class="event">
        {% if event.thumbnail %}
          <img src="{{ event.thumbnail | prepend: site.baseurl }}" class="img-responsive">
        {% else %}
          <img src="" class="img-responsive blank">
        {% endif %}
        <h5>{{ event.title }}</h5>
        <em>{{ event.shortdate }}{% if event.location %}  —  {{ event.location }}{% endif %}</em>
      </a>
    </div>
  {% endfor %}
</div>

{% if page.subscription %} <div class="row"><a href="{{ site.baseurl }}/events/subscribe.html" class="btn btn-default col-md-8 col-md-offset-2">Subscribe to the orchestra series and save</a></div> {% endif %}
