---
layout: default
---
{% if page.hero %}
<div class="row">
  <div class="col-xs-12 hidden-xs">
    <img src="{{ page.hero | prepend: site.baseurl }}" class="img-responsive">
  </div>
</div>
{% endif %}

<section class="row details">
  <div class="col-sm-4">
    <h5>Where</h5>
    <em>{{ page.location }}</em><br>
    <em>{{ page.address }}</em>

    <h5>When</h5>
    <em>{{ page.longdate}}</em><br>
    <em>{{ page.time }}</em>

  </div>
  <div class="col-sm-8">
    <h4>{{ page.title }}</h4>
    <article>
      {{ content }}
    </article>
    <img class="img-responsive map" src="{{ page.map }}">
  </div>
</section>

<hr>

<h3>Events</h3>

{% include schedule.html %}
