---
layout: default
---
{% if page.hero %}
<div class="row">
  <div class="col-xs-12 hidden-xs">
    <img src="{{ page.hero | prepend: site.baseurl }}" class="img-responsive">
  </div>
</div>
{% endif %}

<section class="row details">
  <div class="col-sm-4">
    <h5>Where</h5>
    <em>{{ page.location }}</em><br>
    <em>{{ page.address }}</em>

    <h5>When</h5>
    <em>{{ page.longdate}}</em><br>
    <em>{{ page.time }}</em>

    {% if page.paypal %}
    <h5>Tickets</h5>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="{{ page.paypal }}">
      <input type="hidden" name="on0" value="Section">
      <select name="os0">
      	<option value="General Seating">General Seating $35.00 USD</option>
      	<option value="Premium Seating">Premium Seating $50.00 USD</option>
      	<option value="First Two Rows">First Two Rows $75.00 USD</option>
      </select>
      <input type="hidden" name="currency_code" value="USD">
      <br><br>
      <input type="submit" class="btn btn-default" border="0" name="submit" value="Buy Now" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <br>
    <p>Tickets will be held at the door</p>
    {% endif %}

    {% if page.tickets %}
    <h5>Tickets</h5>
    {{ page.tickets }}
    {% endif %}

  </div>
  <div class="col-sm-8">
    <h4>{{ page.title }}</h4>
    <article>
      {{ content }}

      {% if page.subscription %} <p>Clarion offers a discount by purchasing tickets to all three shows of the <a href="/events/subscribe">Clarion Orchestra Concert Series</a>.</p> {% endif %}
    </article>
    <img class="img-responsive map" src="{{ page.map }}">
  </div>
</section>

<hr>

<h3>Events</h3>

{% include schedule.html %}
